<div class="game-container">
  <ng-container *ngIf="game">
    <div class="container mt-5 text-white">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center">
          <img
            src="{{ game.thumbnail }}"
            alt="{{ game.title }}"
            class="game-thumbnail px-2"
          />
        </div>
        <div class="col-12 col-md-6 col-lg-7 px-3">
          <div class="title-wrap my-2 my-md-0">
            <h1>{{ game.title }}</h1>
            <div *ngIf="game.status" class="icon-wrap">
              <fa-icon
                [icon]="faCircle"
                [ngStyle]="
                  game.status == 'Live'
                    ? { color: 'limegreen' }
                    : { color: 'red' }
                "
              ></fa-icon>
              <span class="tooltiptext">{{ game.status }}</span>
            </div>
          </div>
          <div *ngIf="game.game_url" class="row">
            <div class="col">
              <div class="btn-wrap">
                <a
                  href="{{ game.game_url }}"
                  class="play-now-btn text-uppercase"
                  tabindex="-1"
                  role="button"
                  [ngStyle]="{
                    'background-image':
                      'linear-gradient(to bottom,rgb(154, 205, 50),rgba(154, 205, 0, 0.5)),url(' +
                      game.thumbnail +
                      ')'
                  }"
                >
                  Play Game</a
                >
              </div>
            </div>
          </div>
          <div *ngIf="game.genre" class="row my-2">
            <div class="col">
              <div class="info-cell p-2 ps-3 bg-dark">
                <p class="m-0 h6">Genre:</p>
                <p class="mx-2 my-0 h6">{{ game.genre }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="game.platform" class="row my-2">
            <div class="col">
              <div class="info-cell p-2 ps-3 bg-dark">
                <p class="m-0 h6">Platforms:</p>
                <p class="mx-2 my-0 h6">{{ game.platform }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="game.publisher" class="row my-2">
            <div class="col">
              <div class="info-cell p-2 ps-3 bg-dark mr-2">
                <p class="m-0 h6">Publisher:</p>
                <p class="mx-2 my-0 h6">{{ game.publisher }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="game.developer" class="row my-2">
            <div class="col">
              <div class="info-cell p-2 ps-3 bg-dark">
                <p class="m-0 h6">Developer:</p>
                <p class="mx-2 my-0 h6">{{ game.developer }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="game.release_date" class="row my-2">
            <div class="col">
              <div class="info-cell p-2 ps-3 bg-dark">
                <p class="m-0 h6">Release date:</p>
                <p class="mx-2 my-0 h6">
                  {{ game.release_date | date: "mediumDate" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="game.description" class="row">
        <div class="col px-3">
          <div class="my-3 p-5 py-4 bg-dark rounded-3">
            {{ game.description }}
          </div>
        </div>
      </div>
      <div
        *ngIf="game.minimum_system_requirements || game.screenshots"
        class="row"
      >
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col p-4 h4">Systemy Requirements:</div>
          </div>

          <div
            *ngFor="let sysReq of game.minimum_system_requirements | keyvalue"
            class="row"
          >
            <div class="col my-2">
              <div class="info-cell p-2 ps-3 bg-dark">
                {{ sysReq.key | convertToString: "upper" }} : {{ sysReq.value }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col p-4 h4">Screenshots:</div>
          </div>
          <ng-container *ngIf="game.screenshots">
            <div class="row g-0">
              <div *ngFor="let screenshots of game.screenshots" class="col-6">
                <a href="{{ screenshots.image }}" target="_blank">
                  <img
                    src="{{ screenshots.image }}"
                    alt="{{ game.title }}"
                    class="img-fluid p-1"
                    onerror="this.style='display:none';"
                  />
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>