.f2p-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 40px;
  min-height: 70px;
  background-color: #1a1a1a;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  clear: both;
  position: relative;
  height: 70px;
  p,
  a {
    margin-bottom: 0;
  }
  a {
    color: white;
    font-weight: 600;
  }
}
