.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-weight: 700;
  color: #474747;
  font-size: 7vw;
}

.not-found-container h1 {
  font-size: 10vw;
}

.not-found-container h2 {
  font-size: 3vw;
}

.not-found-container a {
  color: white;
  font-size: 2vw;
  text-decoration: none;
}

.not-found-container a fa-icon {
  font-size: 1.5vw;
}
