.game-thumbnail-wrap {
  position: relative;
}

.game-thumbnail-wrap .game-thumbnail-overlay {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.game-thumbnail-wrap .game-thumbnail-overlay .game-content {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-shadow: -2px 2px rgba(0, 0, 0, 0.5);
  bottom: -100%;
  transition: all 0.5s ease;
}

.game-thumbnail-wrap .game-thumbnail-overlay .game-content * {
  margin: 0;
}

.game-thumbnail-wrap .game-thumbnail-overlay .game-content span {
  display: inline-block;
  width: 50%;
}

.game-thumbnail-wrap .hide-overlay {
  visibility: hidden;
  opacity: 0;
}

.game-thumbnail-wrap .game-thumbnail {
  width: 100%;
}
