.f2p-games-wrap {
  max-height: 900px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.f2p-games-wrap::-webkit-scrollbar {
  display: none;
}

.f2p-search__wrap {
  padding: 20px 0;
}

.f2p-search__wrap .dropdown button {
  min-width: 112px;
}

.f2p-search__wrap select {
  background-color: #6c757d;
  color: white;
  border: none;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 150px;
}

.f2p-search__wrap select option span {
  color: white;
  word-wrap: break-word;
}

.f2p-search__wrap select option:nth-of-type(even) {
  background-color: rgba(95, 99, 102, 0.66);
}

.f2p-search__wrap select .dropdown-item {
  white-space: unset;
  cursor: pointer;
}

.f2p-search__wrap form {
  height: 45px;
}

.f2p-search__wrap .f2p-search,
.f2p-search__wrap .search-publisher {
  color: #dadada;
  font-size: 26px;
  width: 100%;
  border-radius: 5px;
  background-color: #3e3e3e;
  border: 1px solid #555555;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.f2p-search__wrap .f2p-search::-webkit-input-placeholder,
.f2p-search__wrap .search-publisher::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 18px;
}

.f2p-search__wrap .f2p-search::-moz-placeholder,
.f2p-search__wrap .search-publisher::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px;
}

.f2p-search__wrap .f2p-search:-ms-input-placeholder,
.f2p-search__wrap .search-publisher:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 18px;
}

.f2p-search__wrap .f2p-search:-moz-placeholder,
.f2p-search__wrap .search-publisher:-moz-placeholder {
  /* Firefox 18- */
  font-size: 18px;
}

.f2p-search__wrap .f2p-search:focus-within,
.f2p-search__wrap .search-publisher:focus-within {
  outline: rgba(255, 255, 255, 0.3) solid 1px;
}

.open-search a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px white;
}

.open-search a .faIcon {
  line-height: 5px;
}
