<div class="container">
  <div class="collapse" id="searchMenu">
    <div class="row f2p-search__wrap">
      <div class="col-12 col-md-8">
        <div class="row">
          <form class="col-12 d-flex">
            <input
              type="text"
              class="f2p-search"
              id="search-text"
              aria-describedby="search-text"
              name="search-text"
              autofocus
              [(ngModel)]="filterText"
              placeholder="Search game"
            />
          </form>
        </div>
        <div class="row mt-3">
          <div
            class="
              dropdown
              col-12 col-md-6
              my-2
              m-md-0
              d-flex
              justify-content-center
            "
          >
            <select
              class="form-select genres"
              size="3"
              aria-label="size 3 select example"
              [(ngModel)]="filterGenre"
            >
              <option
                [ngValue]="undefined"
                [selected]="filterGenre ? null : 'selected'"
              >
                Select genre
              </option>
              <option *ngFor="let genre of genres" [ngValue]="genre">
                <span class="dropdown-item">{{ genre }}</span>
              </option>
            </select>
          </div>
          <div
            class="
              dropdown
              col-12 col-md-6
              my-2
              m-md-0
              d-flex
              justify-content-center
            "
          >
            <select
              class="form-select platforms"
              size="3"
              aria-label="size 3 select example"
              [(ngModel)]="filterPlatform"
            >
              <option
                [ngValue]="undefined"
                [selected]="filterPlatform ? null : 'selected'"
              >
                Select platform
              </option>
              <option *ngFor="let platform of platforms" [ngValue]="platform">
                <span class="dropdown-item">{{ platform }}</span>
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div>
          <input
            type="text"
            id="search-publisher"
            aria-describedby="search-publisher"
            name="search-publisher"
            autofocus
            [(ngModel)]="searchPublisher"
            class="mb-3 search-publisher"
            placeholder="Search publisher name"
          />
          <select
            class="form-select publishers h-100"
            size="3"
            aria-label="size 3 select example"
            [(ngModel)]="filterPublisher"
          >
            <option
              [ngValue]="undefined"
              [selected]="filterPublisher ? null : 'selected'"
            >
              Select publisher
            </option>
            <option
              *ngFor="
                let publisher of publishers | searchPublisher: searchPublisher
              "
              [ngValue]="publisher"
            >
              <span class="dropdown-item">{{ publisher }}</span>
            </option>
          </select>
          <div>{{ filterPublisher }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white text-center my-3 open-search">
    <a
      class="d-flex flex-column"
      data-bs-toggle="collapse"
      href="#searchMenu"
      (click)="toggleSearch()"
      role="button"
    >
      <span>{{ searchOpen ? "Close" : "Search games" }}</span>
      <span class="faIcon">
        <fa-icon [icon]="searchOpen ? arrowUp : arrowDown"></fa-icon>
      </span>
    </a>
  </div>
  <div
    class="row g-0 f2p-games-wrap"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [infiniteScrollDisabled]="isFullListDisplayed"
    [scrollWindow]="false"
  >
    <app-game-item
      *ngFor="
        let game of gamesToShow
          | gameFilter
            : allGames
            : filterText
            : filterGenre
            : filterPlatform
            : filterPublisher
      "
      [game]="game"
      [ngClass]="'col-12 col-md-6 col-xl-3'"
    ></app-game-item>
  </div>
</div>
